/* @font-face {
    font-family: 'lufga-m';
    src: url('./assets/font/lufga/lufga_medium.otf') format("opentype");
}

@font-face {
    font-family: 'lufga-sb';
    src: url('./assets/font/lufga/lufga_semibold.otf') format("opentype");
}
@font-face {
    font-family: 'lufga-r';
    src: url('./assets/font/lufga/lufga_regular.otf') format("opentype");
}

.custom-font-lufga-medium {
    font-family: 'lufga-m';
}

.custom-font-lufga-semibold {
    font-family: 'lufga-sb';
}

.custom-font-lufga-regular {
    font-family: 'lufga-r';
} */